.top{
    background-image: linear-gradient(to right,#2b3049,#e94d61);
    color: white;
}
.auth{
    background: rgb(255,255,255);
    background: linear-gradient(110deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
    transition: all 0.5s ease-in-out;
}
.auth.register{
    background: linear-gradient(250deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 100%);
}